{% extends "base.html" %}

{% block titulo %} Lista de usuarios {% endblock %}

{% block contenido_principal %}
<h2>Usuarios de MyWallapop</h2>
<div class="container white">
    <hr>
    <form class="form-horizontal justify-content-center" method="post" action="/usuarios/eliminar">
        <div class="table table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                </tr>
                </thead>
                <tbody>
                {% for usuarioStandard in usuarios %}
                <tr>
                    <td><input id="checkbox" type="checkbox" name="usuariosEliminar" value={{ usuarioStandard.email }}></td>
                    <td>{{usuarioStandard.email}}</td>
                    <td>{{usuarioStandard.name}}</td>
                    <td>{{usuarioStandard.surname}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div>
                <button id="btn" type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}